/*$icon-font-path: "/bower_components/sass-bootstrap/fonts/";*/

/*@import 'sass-bootstrap/lib/bootstrap'; */
/*@import '_utils';*/

.fullpage {
  width: 100%;
  height: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: hsla(0, 0%, 80%, 1);
    color: hsla(0, 0%, 0%, 1);
    padding: 0.2em 0;
}

html {
  height: 100%;

  /* Space out content a bit */
  body {
    padding-top: 70px;
    padding-bottom: 20px;
    height: 100%;

    .container {
      height: 100%
    }
  }
}
