{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "indent": [2, 2],
    "no-bitwise": [2],
    "semi": [2, "never"],
    "quotes": [2, "single", "avoid-escape"],
    "no-comma-dangle": [0],
    "no-console": [0],
    "no-underscore-dangle": [0],
    "key-spacing": [2, {
      "align": "value",
    }],
    "space-after-keywords": [2],
    "space-before-function-parentheses": [2, "never"],
    "no-ternary": [2],
    "space-before-blocks": [2],
    "brace-style": [2],
    "no-multi-spaces": [0],
    "no-throw-literal": [2],
    "strict": [2, "global"],
    "global-strict": [0]
  },
  "env": {
    "browser": true,
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "angular": false,
    "before": false,
    "beforeEach": false,
    "browser": false,
    "describe": false,
    "expect": false,
    "inject": false,
    "it": false,
    "spyOn": false,
    "$": false
  }
}
