<Transform DEF="crosshairs" class="gui">
  <Group>
    <Shape>
      <IndexedLineSet coordIndex="0 1 -1 2 3 -1 4 5 -1"colorIndex="0 0 -1 1 1 -1 2 2 -1">
        <Coordinate point="-1  0  0 1  0  0 0 -1  0 0  1  0 0  0 -1 0  0  1">
        </Coordinate>
        <Color color="1 0 0 0 1 0 0 0 1">
        </Color>
      </IndexedLineSet>
      <Appearance>
        <depthmode depthfunc="ALWAYS" enabledepthtest="true" znearrange="-1" zfarrange="-1"></depthmode>
      </Appearance>
    </Shape>
    <Transform rotation="0 0 -1 1.57" translation="1 0 0">
      <Shape>
        <Appearance>
          <Material diffuseColor="1 0 0">
          </Material>
          <depthmode depthfunc="ALWAYS" enabledepthtest="true" znearrange="-1" zfarrange="-1"></depthmode>
        </Appearance>
        <Cone height="0.1"bottomRadius="0.05">
        </Cone>
      </Shape>
    </Transform>
    <Transform translation="0 1 0">
      <Shape>
        <Appearance>
          <Material diffuseColor="0 1 0">
          </Material>
          <depthmode depthfunc="ALWAYS" enabledepthtest="true" znearrange="-1" zfarrange="-1"></depthmode>
        </Appearance>
        <Cone height="0.1"bottomRadius="0.05">
        </Cone>
      </Shape>
    </Transform>
    <Transform rotation="1 0 0 1.57" translation="0 0 1">
      <Shape>
        <Appearance>
          <Material diffuseColor="0 0 1">
          </Material>
          <depthmode depthfunc="ALWAYS" enabledepthtest="true" znearrange="-1" zfarrange="-1"></depthmode>
        </Appearance>
        <Cone height="0.1"bottomRadius="0.05">
        </Cone>
      </Shape>
    </Transform>
  </Group>
</Transform>
